body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgba(255, 255, 244, 1);
    margin: 0;
}
#logo{
    width: 50%;
    height: 35px;
}
.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}
section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.bl-color{
    color: rgba(54, 57, 88, 1);
    font-family: 'Bebas Neue', cursive;
}
.price-color{
    color: rgba(118, 194, 126, 1);
    font-size: 30px;
}
h1{
    font-size: 80px;
    font-weight: 700;
}
h2, h3{
    font-size: 50px;
}
.item-card{
    border: 0;
    border-radius: 10px;
}
.item-card-footer{
    background-color: white;
    border: 0;
}
.catagories img{
    width: 100px;
}
.query{
    background-color:  rgba(255, 255, 244, 1);
    border-radius: 1em;
}
.buy-now-button{
    background-color: rgba(42, 30, 89, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
}
.crsl{
    background-image: linear-gradient(180deg, white, rgb(248, 248, 221));
    border-radius: 1em;
}
.carousel-item{
    padding: 20px 40px;
}
.contact{
    text-align: center;
    max-width: 80%;
}