header{
    background-color: rgba(255, 255, 244, 1);
    margin: 0;
    width: 100%;
}
#logo{
    width: 50%;
    left: 200px;
}
.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}
.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.catagories img{
    width: 100px;
}
.query{
    background-color: #fceae8;
    border-radius: 1em;
}
.buy-now-button{
    background-color: rgba(42, 30, 89, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
}